ul{list-style-type: none}
li{float: left;padding-right: 50px;margin-top: 20px;color: #b9f605}
.menu{width: 1500px;height: 70px; background-image: url(../image/bg.gif);margin-top: 0px;}
a:link{text-decoration: none;color:white;}
a:visited{text-decoration: none;color: white}
.special:link{color: orange}
.special:visited{color: orange}
